@font-face {
  font-family: "Sailec";
  src: url("../font/Sailec-Bold.woff2") format("woff2"), url("../font/Sailec-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sailec";
  src: url("../font/Sailec-Thin.woff2") format("woff2"), url("../font/Sailec-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sailec-RegularItalic";
  src: url("../font/Sailec-RegularItalic.woff2") format("woff2"), url("../font/Sailec-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Sailec";
  src: url("../font/Sailec-Medium.woff2") format("woff2"), url("../font/Sailec-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sailec";
  src: url("../font/Sailec-Light.woff2") format("woff2"), url("../font/Sailec-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.font-sailec {
  font-family: "Sailec";
}

.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.avatar-sm {
  height: 45px;
  width: 45px;
}
.avatar-md {
  height: 75px;
  width: 75px;
}
.avatar-lg {
  height: 90px;
  width: 90px;
}
.avatar-xl {
  height: 110px;
  width: 110px;
}

.btn {
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.btn:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.btn:hover::before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
.btn:focus {
  box-shadow: none;
}
.btn.btn-secondary {
  background-color: #E81D62;
  color: #ffffff;
  border-color: transparent;
}
.btn.btn-secondary:hover {
  color: #ffffff;
}
.btn.btn-secondary:hover::before {
  background: #790c31;
}
.btn.btn-primary {
  background-color: #0B3F46;
  color: #ffffff;
  border-color: transparent;
}
.btn.btn-primary:hover {
  color: #0B3F46;
}
.btn.btn-primary:hover::before {
  background: #157b88;
}
.btn.btn-secondary-gradient {
  background: linear-gradient(180deg, #ee2a6d 0%, #b40541 100%);
  color: #ffffff;
  border-color: transparent;
}
.btn.btn-secondary-gradient:hover {
  color: #0B3F46;
}
.btn.btn-secondary-gradient:hover::before {
  background: #ef6292;
}

.btn-link {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.btn-link:before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  color: inherit;
  font-weight: 900;
  display: inline-block;
  opacity: 0;
  margin-right: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  font-variant: normal;
  transition: all 0.3s ease;
}
.btn-link:hover {
  padding-left: 15px;
}
.btn-link:hover:before {
  opacity: 1;
}

.back-to-top {
  position: fixed;
  z-index: 999;
  bottom: 4rem;
  right: 20px;
  display: none;
}

.btn.has-down-arrow {
  position: relative;
}
.btn.has-down-arrow[aria-expanded=true]::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid rgba(219, 198, 163, 0.5);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bg-soft-primary {
  background-color: rgba(11, 63, 70, 0.5) !important;
}

.bg-soft-chocolate-grey {
  background-color: rgba(166, 145, 142, 0.5) !important;
}

.bg-white {
  background-color: white !important;
}

.bg-grey {
  background-color: #f5f6f8 !important;
}

.bg-black {
  background-color: black !important;
}

.bg-green {
  background-color: #00a651 !important;
}

.bg-secondary {
  background-color: #e81d62 !important;
}

.bg-secondary-light {
  background-color: #f5a0bd !important;
}

.bg-primary {
  background-color: #0b3f46 !important;
}

.bg-primary-light {
  background-color: #f2f6f7 !important;
}

.bg-chocolate-grey {
  background-color: #a6918e !important;
}

.gradient-secondary {
  background: #E81D62;
  background: linear-gradient(180deg, #ee2a6d 0%, #b40541 100%);
}

.border-white {
  border-color: white !important;
}

.border-grey {
  border-color: #f5f6f8 !important;
}

.border-black {
  border-color: black !important;
}

.border-green {
  border-color: #00a651 !important;
}

.border-secondary {
  border-color: #e81d62 !important;
}

.border-secondary-light {
  border-color: #f5a0bd !important;
}

.border-primary {
  border-color: #0b3f46 !important;
}

.border-primary-light {
  border-color: #f2f6f7 !important;
}

.border-chocolate-grey {
  border-color: #a6918e !important;
}

.border-radius-2 {
  border-radius: 2rem;
}

.border-radius-3 {
  border-radius: 3rem;
}

.border-radius-4 {
  border-radius: 4rem;
}

.border-radius-5 {
  border-radius: 5rem;
}

.border-radius-6 {
  border-radius: 6rem;
}

.border-radius-7 {
  border-radius: 7rem;
}

.border-radius-8 {
  border-radius: 8rem;
}

p {
  font-size: clamp(0.9rem, 1vw, 1.25rem);
}

.letter-space {
  letter-spacing: 2px;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.h1,
h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}

.h2,
h2 {
  font-size: clamp(2.2rem, 3vw, 3.438rem);
  word-break: break-word;
}

.h4,
h4 {
  font-size: clamp(1rem, 1.5vw, 1.35rem);
}

.h5,
h5 {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

.text-white {
  color: white !important;
}

.text-grey {
  color: #f5f6f8 !important;
}

.text-black {
  color: black !important;
}

.text-green {
  color: #00a651 !important;
}

.text-secondary {
  color: #e81d62 !important;
}

.text-secondary-light {
  color: #f5a0bd !important;
}

.text-primary {
  color: #0b3f46 !important;
}

.text-primary-light {
  color: #f2f6f7 !important;
}

.text-chocolate-grey {
  color: #a6918e !important;
}

.fill-white svg {
  fill: white !important;
}

.fill-grey svg {
  fill: #f5f6f8 !important;
}

.fill-black svg {
  fill: black !important;
}

.fill-green svg {
  fill: #00a651 !important;
}

.fill-secondary svg {
  fill: #e81d62 !important;
}

.fill-secondary-light svg {
  fill: #f5a0bd !important;
}

.fill-primary svg {
  fill: #0b3f46 !important;
}

.fill-primary-light svg {
  fill: #f2f6f7 !important;
}

.fill-chocolate-grey svg {
  fill: #a6918e !important;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #000000;
}
a:hover {
  color: #0B3F46;
}

.font-size-1 {
  font-size: 1px;
}

.font-size-2 {
  font-size: 2px;
}

.font-size-3 {
  font-size: 3px;
}

.font-size-4 {
  font-size: 4px;
}

.font-size-5 {
  font-size: 5px;
}

.font-size-6 {
  font-size: 6px;
}

.font-size-7 {
  font-size: 7px;
}

.font-size-8 {
  font-size: 8px;
}

.font-size-9 {
  font-size: 9px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-24 {
  font-size: 24px;
}

* {
  outline: unset !important;
}

body {
  font-family: "Sailec";
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #0B3F46;
}

@media (min-width: 1600px) {
  .container-xxl {
    max-width: 1640px;
  }
}
.form-check-input:focus,
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(11, 63, 70, 0.3) !important;
}

.form-check-input:checked {
  background-color: #E81D62;
  border-color: #E81D62;
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#loader .loading {
  border: 10px solid #E81D62;
  border-radius: 50%;
  border-top: 10px solid transparent;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  background: transparent;
}

.mt-n1 {
  margin-top: -1rem;
}

.mt-n2 {
  margin-top: -2rem;
}

.mt-n3 {
  margin-top: -3rem;
}

.mt-n4 {
  margin-top: -4rem;
}

.mt-n5 {
  margin-top: -5rem;
}

.mt-n6 {
  margin-top: -6rem;
}

.mt-n7 {
  margin-top: -7rem;
}

.mt-n8 {
  margin-top: -8rem;
}

.mt-n9 {
  margin-top: -9rem;
}

.mt-n10 {
  margin-top: -10rem;
}

.img-stretch {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navbar .nav-link {
  color: #0B3F46;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-size: 15px;
}
.navbar .nav-link:hover, .navbar .nav-link.active {
  color: #E81D62;
}
@media screen and (min-width: 1500px) {
  .navbar .nav-link {
    margin: 0 0.75rem;
  }
}

.img-hover {
  position: relative;
  overflow: hidden;
}
.img-hover .style-primary-light {
  transition: all 0.3s linear;
}
.img-hover:hover .style-primary-light {
  background-color: #f2f6f7;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media .media-body {
  -ms-flex: 1;
  flex: 1;
}

.title-border {
  position: relative;
  z-index: 1;
}
.title-border.aos-animate span {
  display: inline-block;
  position: relative;
}
.title-border.aos-animate span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto;
  right: 0;
  height: 45%;
  opacity: 0;
  animation-name: title-border;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  z-index: -1;
  background-color: #E81D62;
}
@media screen and (max-width: 991px) {
  .title-border.aos-animate span::before {
    height: 15px;
  }
}

@keyframes title-border {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.owl-dots.active span {
  background-color: #0B3F46;
}

.owl-dot-line .owl-dots .owl-dot span {
  width: 30px;
  height: 5px;
  border-radius: 0;
  background-color: #0B3F46;
}
.owl-dot-line .owl-dots .owl-dot:hover span, .owl-dot-line .owl-dots .owl-dot.active span {
  background-color: #E81D62;
}

.hero-section .owl-dots .owl-dot {
  transform: rotate(-90deg);
  margin: 0.3rem;
}
.hero-section .owl-dots .owl-dot button {
  background-color: #ffffff;
  border-color: #f5f6f8;
  font-weight: 700;
}
.hero-section .owl-dots .owl-dot.active button {
  background-color: #E81D62;
  transform: scale(1.3);
  border-color: #ffffff;
  transform-origin: left bottom;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  display: grid;
  place-items: center;
  padding: 8px 12px;
  border: 1px solid #E81D62;
  border-radius: 4px;
  height: auto;
  color: #E81D62;
  width: auto;
}
.navbar .navigation .navbar-collapse {
  background: #ffffff;
  border: 2px solid #E81D62;
  border-radius: 5rem;
}
@media screen and (max-width: 1024px) {
  .navbar .navigation .navbar-collapse {
    border-radius: 1rem;
    margin-top: 1rem;
  }
}

.section-zig-zag {
  min-height: 90vh;
}
.section-zig-zag .section-img-right {
  position: absolute;
  max-width: 55%;
  right: 0;
  top: 10%;
  bottom: 0;
  transform: translateX(12%);
}
@media screen and (max-width: 991px) {
  .section-zig-zag .section-img-right {
    position: static;
    transform: none;
    margin: 0 auto;
    display: block;
  }
}
.section-zig-zag .section-img-left {
  position: absolute;
  max-width: 55%;
  left: 0;
  top: 10%;
  bottom: 0;
  transform: translateX(-12%);
}
@media screen and (max-width: 991px) {
  .section-zig-zag .section-img-left {
    position: static;
    transform: none;
    margin: 0 auto;
    display: block;
  }
}

.we-clarify .clarify-detail-wrap {
  padding-bottom: 7rem;
}
.we-clarify .clarify-detail-wrap figure img {
  border: 2px solid #E81D62;
  border-radius: 50%;
}
.we-clarify .clarify-detail-wrap figure p {
  font-size: 14px;
  margin-bottom: 5px;
}
.we-clarify .clarify-detail-wrap figure a i {
  transition: all 0.2s ease-in-out;
}
.we-clarify .clarify-detail-wrap figure a:hover i {
  transform: translateX(8px);
}

.the-movie {
  padding: 15rem 0 7rem;
  background: url(../img/bg-shape.png) no-repeat top center/cover;
}

.experts .img-expert {
  height: 12rem;
  width: 12rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #0B3F46;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
@media screen and (max-width: 560px) {
  .experts .img-expert {
    height: auto;
    width: auto;
    aspect-ratio: 1/1;
  }
}
.experts .img-expert img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.legal-representation .representation-person {
  margin-bottom: 5rem;
}
.legal-representation .representation-person div[class^=col-]:nth-child(2) {
  margin-top: -10rem;
}
.legal-representation .representation-person div[class^=col-]:nth-child(3) {
  margin-top: -20rem;
}
@media screen and (max-width: 768px) {
  .legal-representation .representation-person div[class^=col-]:nth-child(2) {
    margin-top: 0;
  }
  .legal-representation .representation-person div[class^=col-]:nth-child(3) {
    margin-top: 0;
  }
  .legal-representation .representation-person img {
    max-height: 500px;
    margin: auto;
    display: block;
  }
}

.milestones {
  padding: 4rem;
  border: 2px solid #E81D62;
  background: #3e6c75;
  background: linear-gradient(180deg, #3e6c75 0%, #12464d 56%, #063a41 100%);
  /*small device style*/
  /*extra small device style */
}
@media screen and (max-width: 767px) {
  .milestones {
    padding: 0;
  }
}
.milestones .timeline {
  padding: 50px 0;
  position: relative;
}
.milestones .timeline-nodes {
  margin-bottom: 8rem;
  position: relative;
}
@media (max-width: 560px) {
  .milestones .timeline-nodes {
    margin-bottom: 2rem;
  }
}
.milestones .timeline-nodes:nth-child(even) {
  flex-direction: row-reverse;
}
.milestones .timeline-nodes:nth-child(even) .timeline-date {
  text-align: right;
}
.milestones .timeline-nodes:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  width: 0;
  border-right: 10px solid var(--blue);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.milestones .timeline-nodes:nth-child(odd) h3 {
  text-align: right;
}
.milestones .timeline-nodes:nth-child(odd) p {
  text-align: right;
}
.milestones .timeline-nodes:nth-child(odd) .timeline-date {
  text-align: left;
}
.milestones .timeline-nodes:nth-child(odd) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 100%;
  width: 0;
  border-left: 10px solid var(--blue);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.milestones .timeline-content {
  border: 1px solid var(--blue);
  position: relative;
  border-radius: 0 0 10px 10px;
}
.milestones .timeline-image {
  position: relative;
  z-index: 100;
}
@media (max-width: 767px) {
  .milestones .timeline-nodes:nth-child(odd) h3 {
    text-align: left;
  }
  .milestones .timeline-nodes:nth-child(odd) p {
    text-align: left;
  }
  .milestones .timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .milestones .timeline-nodes:nth-child(even) {
    flex-direction: row;
  }
  .milestones .timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .milestones .timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
  }
  .milestones .timeline h3 {
    font-size: 1.7rem;
  }
  .milestones .timeline p {
    font-size: 14px;
  }
  .milestones .timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
  }
  .milestones .timeline-image::before {
    width: 65px;
    height: 65px;
  }
}
@media (max-width: 575px) {
  .milestones .timeline-image {
    position: absolute;
    left: 0%;
  }
  .milestones .timeline-image .d-grid {
    place-items: center;
  }
  .milestones .timeline-image i {
    font-size: 14px;
    margin: 0 !important;
  }
  .milestones .timeline-image .h3 {
    font-size: 16px;
  }
}

.counter .number-diy-one .data,
.counter .number-diy-two .data {
  font-size: clamp(30px, 4vw, 55px) !important;
}
.counter .number-diy-one .data ._number,
.counter .number-diy-two .data ._number {
  width: clamp(30px, 5vw, 80px) !important;
}
.counter .number-diy-one .data ._number > div,
.counter .number-diy-two .data ._number > div {
  width: clamp(30px, 5vw, 80px) !important;
}
.counter .number-diy-one .data ._number > div span,
.counter .number-diy-two .data ._number > div span {
  width: clamp(30px, 5vw, 80px) !important;
}

.donation {
  background: url(../img/donation.png) no-repeat center/cover;
}
.donation .card {
  transform: scale(1.15);
}
@media screen and (max-width: 991px) {
  .donation .card {
    transform: scale(1);
  }
}
.donation .card .card-title {
  padding: 1.5rem;
}
.donation .card .form-check-input:checked[type=radio] {
  background-image: unset;
  background-color: #0B3F46;
  border-color: #0B3F46;
}
.donation .card .custom-radio .circle {
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #0B3F46;
  border-radius: 50%;
}
.donation .card .custom-radio input[type=number] {
  position: relative;
  z-index: 2;
  max-width: 80px;
}
.donation .card .custom-radio input[name=donation_amount_parent] {
  position: absolute;
  inset: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.donation .card .custom-radio input[name=donation_amount_parent]:checked + .border {
  border-color: #E81D62 !important;
  background-color: rgba(11, 63, 70, 0.1);
}
.donation .card .custom-radio input[name=donation_amount_parent]:checked + .border .circle {
  background-color: #0B3F46;
}

.supporters .page-item.active .page-link {
  background-color: #E81D62;
  border-color: #E81D62;
}
.supporters .dataTables_info {
  opacity: 0.4;
}

footer {
  background: url(../img/footer.png) no-repeat center top/cover;
}
footer .footer-nav li {
  margin-bottom: 1rem;
}
footer .footer-nav li a {
  padding: 0;
  color: #ffffff;
}
footer .footer-nav li a:hover, footer .footer-nav li a:focus {
  color: #E81D62;
}
footer .contact {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0 8rem;
}
@media (max-width: 767px) {
  footer .contact {
    border: 0;
    padding: 0;
  }
}
footer .newsletter .form-control {
  height: 48px;
  padding: 0 45px 0 25px;
  background: transparent;
  border: 1px solid #ffffff;
}
footer .newsletter .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
footer .newsletter .form-control:focus {
  background-color: #0B3F46;
  color: #ffffff;
}
footer .newsletter .btn {
  position: absolute;
  z-index: 9;
  height: 42px;
  width: 42px;
  right: 3px;
  top: 3px;
}
footer .social-icon li {
  display: inline-block;
  margin-right: 5px;
}
footer .social-icon li a {
  height: 42px;
  color: #ffffff;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: grid;
  place-items: center;
}
footer .social-icon li a:hover, footer .social-icon li a:focus {
  color: #E81D62;
  background-color: #ffffff;
}

.swal2-styled.swal2-confirm {
  background-color: #E81D62 !important;
}

@media screen and (min-width: 991px) {
  .navigation {
    width: 100%;
    left: 0;
    top: 100%;
  }
}
@media screen and (max-width: 991px) {
  .main-menu .media .avatar-md {
    height: 48px;
    width: 48px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }
  .main-menu .media .avatar-md i {
    font-size: 1.2rem;
  }
  .main-menu .media .media-body {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .contact-widget {
    width: 100%;
    top: auto;
    transform: unset;
    right: 0;
    bottom: 0;
  }
  .contact-widget ul {
    display: flex;
    flex: 1;
  }
  .contact-widget ul > li {
    flex-grow: 1;
    border-radius: 0 !important;
  }
  .contact-widget .contact {
    background-color: #0B3F46;
    color: #ffffff;
    border-top-left-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-widget .contact a {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
  }
  .contact-widget .call {
    border-bottom-left-radius: 0.4rem;
  }
}
@media screen and (max-width: 576px) {
  .line-secondary {
    display: none;
  }

  .avatar-sm {
    height: 45px;
    width: 45px;
  }
  .avatar-md {
    height: 75px;
    width: 75px;
  }
  .avatar-lg {
    height: 90px;
    width: 90px;
  }
  .avatar-xl {
    height: 80px;
    width: 80px;
  }

  .main-menu .media .avatar-md {
    height: 34px;
    width: 34px;
    margin-right: 0.5rem !important;
  }
  .main-menu .media .avatar-md i {
    font-size: 1rem;
  }
  .main-menu .media .media-body {
    font-size: 0.6rem;
  }

  .inner-pages {
    height: 23vh;
  }
}

/*# sourceMappingURL=custom.css.map */
