.avatar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	&-sm {
		height: 45px;
		width: 45px;
	}
	&-md {
		height: 75px;
		width: 75px;
	}
	&-lg {
		height: 90px;
		width: 90px;
	}
	&-xl {
		height: 110px;
		width: 110px;
	}
}
