@each $color, $value in $theme-colors {
	.bg-soft-#{$color} {
		background-color: rgba(($value), 0.5) !important;
	}
}

@each $color, $value in $colors {
	.bg-#{$color} {
		background-color: rgba(($value), 1) !important;
	}
}

.gradient-secondary{
	background: $secondary;
	background: linear-gradient(180deg, rgba(238,42,109,1) 0%, rgba(180,5,65,1) 100%);
}