$white: #ffffff;
$grey: #f5f6f8;
$green: #00a651;
$black: #000000;
$primary: #0B3F46;
$secondary: #E81D62;
$secondary-light: #F5A0BD;
$primary-light: #f2f6f7;
$chocolate-grey: #a6918e;
$nav: #343741;
$button-text: #191919;
$banner-bg: #f1f5f6;

$colors: ();
$colors: map-merge(
	(
		"white": $white,
		"grey": $grey,
		"black": $black,
		"green": $green,
		"secondary": $secondary,
		"secondary-light": $secondary-light,
		"primary": $primary,
		"primary-light": $primary-light,
		"chocolate-grey": $chocolate-grey,
	),
	$colors
);

$theme-colors: ();
$theme-colors: map-merge(
	(
		"primary": $primary,
		"chocolate-grey": $chocolate-grey,
	),
	$theme-colors
);
