.btn {
	font-weight: 500;
	position: relative;
	overflow: hidden;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	transition: all 0.3s ease;
	font-size: 1rem;
	&:before {
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		height: 0px;
		width: 100%;
		z-index: -1;
		content: "";
		transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}

	&:hover {
		&::before {
			bottom: 0%;
			top: auto;
			height: 100%;
		}
	}
	&:focus {
		box-shadow: none;
	}
	&.btn-secondary {
		background-color: $secondary;
		color: $white;
		border-color: transparent;
		&:hover {
			color: $white;
			&::before{
				background: darken($color: $secondary, $amount: 25%);
			}
		}
	}
	&.btn-primary {
		background-color: $primary;
		color: $white;
		border-color: transparent;
		&:hover {
			color: $primary;
			&::before{
				background: lighten($color: $primary, $amount: 15%);
			}
		}
	}
	&.btn-secondary-gradient {
		background: linear-gradient(180deg, rgba(238,42,109,1) 0%, rgba(180,5,65,1) 100%);
		color: $white;
		border-color: transparent;
		&:hover {
			color: $primary;
			&::before{
				background: lighten($color: $secondary, $amount: 15%);
			}
		}
	}
}
.btn-link {
	overflow: hidden;
	display: inline-block;
	position: relative;
	&:before {
		content: "\f105";
		font-family: "Font Awesome 5 Free";
		font-style: normal;
		color: inherit;
		font-weight: 900;
		display: inline-block;
		opacity: 0;
		margin-right: 0.3rem;
		position: absolute;
		top: 0;
		left: 0;
		font-variant: normal;
		transition: all 0.3s ease;
	}
	&:hover {
		padding-left: 15px;
		&:before {
			opacity: 1;
		}
	}
}

.back-to-top {
	position: fixed;
	z-index: 999;
	bottom: 4rem;
	right: 20px;
	display: none;
}

.btn.has-down-arrow {
	position: relative;
	&[aria-expanded="true"] {
		&::after {
			content: "";
			width: 0;
			height: 0;
			border-left: 17px solid transparent;
			border-right: 17px solid transparent;
			border-bottom: 17px solid rgba(219, 198, 163, 0.5);
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
