* {
  outline: unset !important;
}
body {
  font-family: "Sailec";
  font-size: 1rem;
  font-weight: 400;
  color: $white;
  background-color: $primary;
}
@media (min-width: 1600px) {
  .container-xxl {
    max-width: 1640px;
  }
}
.form-check-input:focus,
.form-control:focus{
  box-shadow: 0 0 0 0.25rem rgba($color: $primary, $alpha: 0.3) !important;
}
.form-check-input:checked{
  background-color: $secondary;
  border-color: $secondary;
}
#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: $black, $alpha: 0.9);
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .loading {
    border: 10px solid $secondary;
    border-radius: 50%;
    border-top: 10px solid transparent;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    background: transparent;
  }
}

@for $i from 1 through 10 {
  .mt-n#{$i} {
    margin-top: -#{$i + "rem"};
  }
}

.img-stretch {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.navbar {
  .nav-link {
    color: $primary;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    font-size: 15px;
    &:hover,
    &.active {
      color: $secondary;
    }
    @media screen and (min-width: 1500px) {
      margin: 0 0.75rem;
    }
  }
}

.img-hover {
  position: relative;
  overflow: hidden;
  .style-primary-light {
    transition: all 0.3s linear;
  }
  &:hover {
    .style-primary-light {
      background-color: $primary-light;
    }
  }
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  .media-body {
    -ms-flex: 1;
    flex: 1;
  }
}

.title-border {
  position: relative;
  z-index: 1;
  &.aos-animate {
    span {
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        top: auto;
        right: 0;
        height: 45%;
		opacity: 0;
		animation-name: title-border;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
		animation-duration: 1.5s;
        z-index: -1;
        background-color: $secondary;
        @media screen and (max-width: 991px) {
          height: 15px;
        }
      }
    }
  }
}

@keyframes title-border {
  0% {
    width: 0;
	opacity: 0;
  }
  100% {
	  opacity: 1;
    width: 100%;
  }
}
