@font-face {
    font-family: 'Sailec';
    src: url('../font/Sailec-Bold.woff2') format('woff2'),
        url('../font/Sailec-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../font/Sailec-Thin.woff2') format('woff2'),
        url('../font/Sailec-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec-RegularItalic';
    src: url('../font/Sailec-RegularItalic.woff2') format('woff2'),
        url('../font/Sailec-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../font/Sailec-Medium.woff2') format('woff2'),
        url('../font/Sailec-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../font/Sailec-Light.woff2') format('woff2'),
        url('../font/Sailec-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.font-sailec {
	font-family: 'Sailec';
}