.navbar {
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
    .navbar-toggler-icon {
      display: grid;
      place-items: center;
      padding: 8px 12px;
      border: 1px solid $secondary;
      border-radius: 4px;
      height: auto;
      color: $secondary;
      width: auto;
    }
  }
  .navigation {
    .navbar-collapse {
      background: $white;
      border: 2px solid $secondary;
      border-radius: 5rem;
      @media screen and (max-width: 1024px) {
        border-radius: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

.section-zig-zag {
  min-height: 90vh;
  .section-img-right {
    position: absolute;
    max-width: 55%;
    right: 0;
    top: 10%;
    bottom: 0;
    transform: translateX(12%);
    @media screen and (max-width: 991px) {
      position: static;
      transform: none;
      margin: 0 auto;
      display: block;
    }
  }
  .section-img-left {
    position: absolute;
    max-width: 55%;
    left: 0;
    top: 10%;
    bottom: 0;
    transform: translateX(-12%);
    @media screen and (max-width: 991px) {
      position: static;
      transform: none;
      margin: 0 auto;
      display: block;
    }
  }
}

.we-clarify {
  .clarify-detail-wrap {
    padding-bottom: 7rem;
    figure {
      img {
        border: 2px solid $secondary;
        border-radius: 50%;
      }
      p {
        font-size: 14px;
        margin-bottom: 5px;
      }
      a {
        i {
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          i {
            transform: translateX(8px);
          }
        }
      }
    }
  }
}

.the-movie {
  padding: 15rem 0 7rem;
  background: url(../img/bg-shape.png) no-repeat top center / cover;
}

.experts {
  .img-expert {
    height: 12rem;
    width: 12rem;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid $primary;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    @media screen and (max-width: 560px) {
      height: auto;
      width: auto;
      aspect-ratio: 1/1;
    }
    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.legal-representation {
  .representation-person {
    margin-bottom: 5rem;
    div[class^="col-"]:nth-child(2) {
      margin-top: -10rem;
    }
    div[class^="col-"]:nth-child(3) {
      margin-top: -20rem;
    }
    @media screen and (max-width: 768px) {
      div[class^="col-"]:nth-child(2) {
        margin-top: 0;
      }
      div[class^="col-"]:nth-child(3) {
        margin-top: 0;
      }
      img{
        max-height: 500px;
        margin: auto;
        display: block;
      }
    }
  }
}

.milestones {
  padding: 4rem;
  border: 2px solid $secondary;
  background: rgb(62, 108, 117);
  background: linear-gradient(
    180deg,
    rgba(62, 108, 117, 1) 0%,
    rgba(18, 70, 77, 1) 56%,
    rgba(6, 58, 65, 1) 100%
  );
  @media screen and(max-width: 767px) {
    padding: 0;
  }
  /*small device style*/
  /*extra small device style */
  .timeline {
    padding: 50px 0;
    position: relative;
  }
  .timeline-nodes {
    margin-bottom: 8rem;
    @media  (max-width: 560px) {
      margin-bottom: 2rem;
    }
    position: relative;
    &:nth-child(even) {
      flex-direction: row-reverse;
      .timeline-date {
        text-align: right;
      }
      .timeline-content {
        &::after {
          content: "";
          position: absolute;
          top: 5%;
          right: 100%;
          width: 0;
          border-right: 10px solid var(--blue);
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
      }
    }
    &:nth-child(odd) {
      h3 {
        text-align: right;
      }
      p {
        text-align: right;
      }
      .timeline-date {
        text-align: left;
      }
      .timeline-content {
        &::after {
          content: "";
          position: absolute;
          top: 5%;
          left: 100%;
          width: 0;
          border-left: 10px solid var(--blue);
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
      }
    }
  }
  .timeline-content {
    border: 1px solid var(--blue);
    position: relative;
    border-radius: 0 0 10px 10px;
  }
  .timeline-image {
    position: relative;
    z-index: 100;
  }
  @media (max-width: 767px) {
    .timeline-nodes {
      &:nth-child(odd) {
        h3 {
          text-align: left;
        }
        p {
          text-align: left;
        }
        .timeline-content {
          &::after {
            content: "";
            position: absolute;
            top: 5%;
            left: auto;
            right: 100%;
            width: 0;
            border-left: 0;
            border-right: 10px solid var(--blue);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
        }
      }
      &:nth-child(even) {
        flex-direction: row;
        .timeline-content {
          &::after {
            content: "";
            position: absolute;
            top: 5%;
            right: 100%;
            width: 0;
            border-right: 10px solid var(--blue);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
        }
        .timeline-date {
          text-align: left;
        }
      }
    }
    .timeline {
      h3 {
        font-size: 1.7rem;
      }
      p {
        font-size: 14px;
      }
    }
    .timeline-image {
      position: absolute;
      left: 0%;
      top: 60px;
      &::before {
        width: 65px;
        height: 65px;
      }
    }
  }
  @media (max-width: 575px) {    
    .timeline-image {
      position: absolute;
      left: 0%;
      .d-grid{
        place-items: center;
      }
      i{
        font-size: 14px;
        margin: 0 !important;
      }
      .h3{
        font-size: 16px;
      }
    }
  }
}

.counter{
  .number-diy-one,
  .number-diy-two{
    .data{
      font-size: clamp(30px, 4vw, 55px) !important;
        ._number{
        width: clamp(30px, 5vw, 80px) !important;
        & > div{
          width: clamp(30px, 5vw, 80px) !important;
          span{
            width: clamp(30px, 5vw, 80px) !important;
          }
        }
      }
    }
  }
}

.donation{
  background: url(../img/donation.png)no-repeat center / cover;
  .card{
    transform: scale(1.15);
    @media screen and (max-width: 991px) {
      transform: scale(1);
    }
    .card-title{
      padding: 1.5rem;
    }
    .form-check-input:checked[type="radio"]{
      background-image: unset;
      background-color: $primary;
      border-color: $primary;
    }

    .custom-radio{
      .circle{
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 1px solid $primary;
        border-radius: 50%;
      }
      input[type="number"]{
        position: relative;
        z-index: 2;
        max-width: 80px;
      }
      input[name="donation_amount_parent"]{
        position: absolute;
        inset: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:checked{
          + .border{
            border-color: $secondary !important;
            background-color: rgba($color: $primary, $alpha: 0.1);
            .circle{
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}

.supporters{
  .page-item.active{
    .page-link{
      background-color: $secondary;
      border-color: $secondary;
    }
  }
  .dataTables_info{
    opacity: 0.4;
  }
}

footer{
  background: url(../img/footer.png) no-repeat center top / cover;
  .footer-nav{
    li{
      margin-bottom: 1rem;
      a{
        padding: 0;
        color: $white;
        &:hover,
        &:focus{
          color: $secondary;
        }
      }
    }
  }
  .contact{
    border-right: 1px solid $white;
    border-left: 1px solid $white;
    padding: 0 8rem;
    @media (max-width: 767px) {
      border: 0;
      padding: 0;
    }
  }
  .newsletter{
    .form-control{
      height: 48px;
      padding: 0 45px 0 25px;
      background: transparent;
      border: 1px solid $white;
      &::placeholder{
        color: rgba($color: $white, $alpha: 0.5);
      }
      &:focus{
        background-color: $primary;
        color: $white;
      }
    }
    .btn{
      position: absolute;
      z-index: 9;
      height: 42px;
      width: 42px;
      right: 3px;
      top: 3px;
    }
  }
  .social-icon{
    li{
      display: inline-block;
      margin-right: 5px;
      a{
        height: 42px;
        color: $white;
        width: 42px;
        border-radius: 50%;
        border: 1px solid $white;
        display: grid;
        place-items: center;
        &:hover,
        &:focus{
          color: $secondary;
          background-color: $white;
        }
      }
    }
  }
}
.swal2-styled{
  &.swal2-confirm{
    background-color: $secondary !important;
  }
}