.owl {
	&-dots {
		&.active {
			span {
				background-color: $primary;
			}
		}
	}
}
.owl-dot-line {
	.owl-dots {
		.owl-dot {
			span {
				width: 30px;
				height: 5px;
				border-radius: 0;
				background-color: $primary;
			}
			&:hover,
			&.active {
				span {
					background-color: $secondary;
				}
			}
		}
	}
}
.hero-section {
	.owl-dots {
		.owl-dot {
			transform: rotate(-90deg);
			margin: 0.3rem;
			button {
				background-color: $white;
				border-color: $grey;
				font-weight: 700;
			}
			&.active button {
				background-color: $secondary;
				transform: scale(1.3);
				border-color: $white;
				transform-origin: left bottom;
			}
		}
	}
}
