@media screen and (min-width: 991px) {
	.navigation {
		width: 100%;
		left: 0;
		top: 100%;
	}
}

@media screen and (max-width: 991px) {
	.main-menu {
		.media {
			.avatar-md {
				height: 48px;
				width: 48px;
				display: inline-flex !important;
				align-items: center;
				justify-content: center;
				i {
					font-size: 1.2rem;
				}
			}
			.media-body {
				font-size: 0.8rem;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.contact-widget {
		width: 100%;
		top: auto;
		transform: unset;
		right: 0;
		bottom: 0;
		ul {
			display: flex;
			flex: 1;
			> li {
				flex-grow: 1;
				border-radius: 0 !important;
			}
		}
		.contact {
			background-color: $primary;
			color: $white;
			border-top-left-radius: 0.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				-webkit-writing-mode: horizontal-tb;
				-ms-writing-mode: horizontal-tb;
				writing-mode: horizontal-tb;
				writing-mode: horizontal-tb;
			}
		}
		.call {
			border-bottom-left-radius: 0.4rem;
		}
	}
}

@media screen and (max-width: 576px) {
	.line-secondary {
		display: none;
	}
	.avatar {
		&-sm {
			height: 45px;
			width: 45px;
		}
		&-md {
			height: 75px;
			width: 75px;
		}
		&-lg {
			height: 90px;
			width: 90px;
		}
		&-xl {
			height: 80px;
			width: 80px;
		}
	}

	.main-menu {
		.media {
			.avatar-md {
				height: 34px;
				width: 34px;
				margin-right: 0.5rem !important;
				i {
					font-size: 1rem;
				}
			}
			.media-body {
				font-size: 0.6rem;
			}
		}
	}

	.inner-pages {
		height: 23vh;
	}
}
