p {
	font-size: clamp(0.9rem, 1vw, 1.25rem);
}
.letter-space{
	letter-spacing: 2px;
}
.fw-600 {
	font-weight: 600;
}
.fw-500 {
	font-weight: 500;
}
.h1,
h1 {
	font-size: clamp(2rem, 5vw, 5rem);
}
.h2,
h2 {
	font-size: clamp(2.2rem, 3vw, 3.438rem);
	word-break: break-word;
}
.h4,
h4 {
	font-size: clamp(1rem, 1.5vw, 1.35rem);
}
.h5,
h5 {
	font-size: clamp(1rem, 1.5vw, 1.25rem);
}

@each $color, $value in $colors {
	.text-#{$color} {
		color: rgba(($value), 1) !important;
	}
}
@each $color, $value in $colors {
	.fill-#{$color} {
		svg {
			fill: rgba(($value), 1) !important;
		}
	}
}
a {
	text-decoration: none;
	transition: all 0.3s ease;
	color: $black;
	&:hover {
		color: $primary;
	}
}
@for $i from 1 through 24 {
	.font-size-#{$i} {
		font-size: #{$i + "px"};
	}
}
